.allProducts{
    display: flex;
}

.allProducts-container {
    flex: 5
}

.admin-productImg {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
}

.product-action {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.product-edit{
    color: green;
    cursor: pointer;
}

.product-delete{
    color: red;
    cursor: pointer;
}