.navbar-container {
    height: 60px;
    background-color: rgb(33, 135, 160);
    border-radius: 10px;
}

.navbar-wrapper {
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar-left {
    flex: 1;
    display: flex;
    align-items: center;
}

.navbar-center {
    flex: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar-center-item {
    color: white;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}

.navbar-right {
    flex: 2;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.navbar-language {
    font-size: 14px;
    cursor: pointer;
}

.navbar-search {
    border: 0.2px solid rgb(214, 229, 227);
    display: flex;
    align-items: center;
    margin-left: 20px;
    padding: 5px;
    background-color: black;
}

.navbar-right-item {
    font-size: 14px;
    cursor: pointer;
    margin-left: 25px;
    font-weight: bold;
    max-height: 45px;
    color: white;
    padding: 5px;
    font-weight: bold;
    border-radius: 4px;
}

.orders {
    background-color: rgba(13, 1, 16, 0.548);
    text-decoration: none;
}

.signin {
    background-color: rgb(37, 100, 34);
}

.signup {
    background-color: rgb(34, 25, 111);
}

.signout {
    background-color: rgb(30, 20, 20);
}

@media (max-width: 800px ) {
    .navbar-container {
        height: 60px;
    }

    .navbar-wrapper {
        padding: 10px 0px
    }

    .navbar-right {
        flex: 2;
        justify-content: center
    }

    .navbar-right-item {
        font-size: 10px;
        margin-left: 10px;
    }

    .navbar-search-input {
        width: 50px
    }

    .navbar-language {
        display: "none"
    }
}

